.cnt{
    width: 50%;
    margin: auto;
    text-align: center;
}
.mydiv {
	height: 200px;
}

.mydiv : hover {
	height: 100px;
}

.fcs:focus{
    color: darkred;
    background-color: cornsilk;
}

.bcc {
	background-color: #0000FF;
}

.background {
  background-color: #0000FF;
}

.bcc:hover{
    background-color: darkseagreen;
}

.button {
  font-weight: 700;
  color: blue; 
  text-decoration: none;
  padding:20px;
  margin: 7px;
  border-radius: 20px;
  background: rgb(255, 0, 170);
  box-shadow: 0 -3px rgb(116, 33, 91) inset;
  transition: 0.2s;
} 
.button:hover { background: rgb(116, 33, 91); }
.button:active {
  background: rgb(116, 33, 91);
  box-shadow: 0 3px rgb(116, 33, 91) inset;
}
