.cnt{
    width: 50%;
    margin: auto;
    text-align: center;
}
.mydiv {
	height: 200px;
}

.mydiv : hover {
	height: 100px;
}

.fcs:focus{
    color: darkred;
    background-color: cornsilk;
}

.bcc {
	background-color: #0000FF;
}

.base{
  background-color:#a08282;
  margin:auto;
  text-align: center
  }

.bcc:hover{
    background-color: darkseagreen;
}

.button {
  font-weight: 700;
  color: dodgerblue ; 
  text-decoration: none;
  padding:20px;
  margin: 7px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0 -3px rgb(44, 62, 233) inset;
  transition: 0.2s;
} 
.button:hover { background: rgb(41, 50, 97); }
.button:active {
  background: rgb(56, 56, 56);
  box-shadow: 0 3px rgb(53, 53, 53) inset;
}
